<a href="https://colab.research.google.com/github/TseTen04/foundations-data-science/blob/master/Assignment_0_Dry_Run.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Math

There are four cells below. In each cell, perform one operation each of addition, subtraction, multiplication, and division.

In [ ]:
4 + 4

8

In [ ]:
5 - 2

3

In [ ]:
4 * 2

8

In [ ]:
4 / 2

2.0

# Variables

In the following cell, assign two variables, then perform some operation on both. (For example, you could add them together.)

In [ ]:
x = 4

# Comparison

In the following cell, compare two variables so that the output is True. (You can use >, <, == or any other comparison.)

In [ ]:
5 > 2

True

In the following cell, perform a comparison for which the output is False.

In [ ]:
5 == 3

False

# Conditionals

In the cell below, write an "if" statement that ends in an "else" statement.

In [ ]:
x = 2
y = 10
print("X") if x > y else print("y")

y

# Loops

In the cell below, a list is defined with five numbers. In the cell after the list, write a for loop that adds 10 to each number and prints the output.

Don't forget to run the cell with the list in it, or it won't get loaded into the computer's memory.

In [ ]:
numbers = [5, 7, 15, 30, 33]

In [ ]:
x = 0
if  x < 100: 
 print("x")

x